:root {
    font-size: 19px;
    text-rendering: optimizeLegibility;
}

* {
	margin:0px;
	padding:0px;
}

body {
	background-color: #9ce6d7;
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 1.3;
	margin-right: 0;
	margin-left: 0;
  }

header{
	display: block;
	margin: 100px 0 20px 0;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

main {
   float: center;
   width: 100%;
}

article {
	width: 100%;
	margin: 0;
	padding: 0px;
	display: block;
}


p{
	color: #5f5f5f;
	margin-bottom:0.7rem;
	width: 100%;
	max-width: 1000px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0 20px 0 20px;
	/* border: 1px solid green;*/
}


h2 {
	display: block;
	margin-right: auto;
	margin-left: auto;
	font-size: 2rem;
	line-height: 0.8;
	font-weight: 600;
	margin-bottom:0.7rem;
	padding: 0 20px 0 20px;
	width: 100%;
	max-width: 1000px;
}

h4{
	margin-bottom:0.5rem;
}


blockquote p {
	font-size: 0.8rem;
	font-family: 'Roboto Mono', monospace;
	padding: 20px;
	background-color: white;
    color: #5f5f5f;
	width: 90%;
	max-width: 1000px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}


.rojo {
	background-color: #ff3f38;
	width: 100%;
}

.rojo2 {
	background-color: #ED3C32;
	width: 100%;
}

.rojo3 {
	background-color: #F0453D;
	width: 100%;
}


.verde2 {
	background: rgb(60,167,152);
	background: linear-gradient(90deg, rgba(60,167,152,1) 0%, rgba(148,201,191,1) 50%);
	width: 100%;
}

.verde3 {
	background-color: #67E5D4;
	width: 100%;
}

.verdeazul{
  background: rgb(102,175,160);
  background: linear-gradient(90deg, rgba(102,175,160,1) 49%, rgba(52,69,87,1) 51%);
}

.blanco {
  display: block;
  background: white;
  padding:20px 0 20px 0;
  margin: 0;
}

img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	max-width: 1000px;
	/* border: 1px solid green;*/
}


hr{
	color:rgb(38, 208, 58);
	border: 1px solid;
}


a {
	color: #ff3f38;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
	background-color: #ff3f38;
}

a:active {
  text-decoration: underline;
}


.logo {
    display: block;
    margin: 0px;
    padding: 0px;
   	overflow: auto;
    display: block;
    float: left;
}



/* A PARITR DE AQUI EL ESTILO DE LA BOTONERA */
/* Add a black background color to the top navigation */


.topnav {
  background-color: white;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
* {
    /* outline: solid 1px; */
}

.topnav .weg {
    background: url(./img/ht.svg) 14px center no-repeat;
    padding-left: 52px;
    background-size: 28px 28px;
}

.topnav i {
    margin-left: 0.5em;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: black;               /* color de las palabras */
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Add an active class to highlight the current page */

.active {
  background-color: white; /* rojo #ff3f38 ||| verde #9ce6d7 */
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */

.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */

.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9ce6d7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #9ce6d7;
  color: black;
}

/* Add a grey background to dropdown links on hover */

.dropdown-content a:hover {
  background-color: white;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */

.dropdown:hover .dropdown-content {
  display: block;
}


/* When the screen is less than 600 pixels wide,
 hide all links, except for the first one ("Home").
 Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 500px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;

  }
}


/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 500px) {
  .topnav.responsive {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* SOCIAL MEDIA BOTON */




footer {
	width: 100%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 50px 20px 20px 20px;
}

footer .fa {
  padding:5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

footer .fa:hover {
    opacity: 0.5;
}

footer .fa-facebook {
  background: #5f5f5f;
  color: white;
}

footer .fa-twitter {
  background: #5f5f5f;
  color: white;
}

footer .fa-linkedin {
  background: #5f5f5f;
  color: white;
}


footer .fa-instagram {
  background: #5f5f5f;
  color: white;
}

footer .fa-github {
  background: #5f5f5f;
  color: white;
}


